.breadcrumb{
  background-color: transparent;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0;
  padding:10px 20px 0px 20px;
}

.breadcrumb-item > a{
  color:#3d464d;
}

.breadcrumb-item > a:hover{
  text-decoration: none;
  color:#1a66ff;
}

.breadcrumb-item.active > a{
  color:#999;
}
