<div class="container">
  <div class="row">
    <div class="col-3">

    </div>
    <div class="col-12 col-lg-9 main-banner">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
            <div class="slide">
                <img src="assets/slide-1.jpg">
                <div class="owl-carousel-inner">
                  <h4 class="owl-carousel-title">Big choice of Plumbing products</h4>
                  <br>
                  <p class="owl-carousel-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  <br>
                  <button class="btn shop-now-btn">Shop Now</button>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="slide">
                <img src="assets/slide-2.jpg">
                <div class="owl-carousel-inner">
                  <h4 class="owl-carousel-title">Big choice of Plumbing products</h4>
                  <br>
                  <p class="owl-carousel-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  <br>
                  <button class="btn shop-now-btn">Shop Now</button>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="slide">
                <img src="assets/slide-3.jpg">
                <div class="owl-carousel-inner">
                  <h4 class="owl-carousel-title">Big choice of Plumbing products</h4>
                  <br>
                  <p class="owl-carousel-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  <br>
                  <button class="btn shop-now-btn">Shop Now</button>
                </div>
            </div>
        </ng-template>
      </owl-carousel-o>
    </div>
  </div>
</div>
