.block-header{
  display:flex;
  align-items:center;
  justify-content: space-evenly;
  padding:10px 20px 10px 30px;
}

.divider{
  width:450px;
  margin-left:30px;
  margin-right:0px;
  border-bottom:2px solid #f0f0f0;
}

.tab-pane{
  width:100%;
}

.block-title{
  font-weight:700;
  font-size:20px;
  color: #3d464d;
}

.block-btn{
  background: transparent;
  border: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: 600;
  cursor: pointer;
  display: block;
  color: inherit;
  padding: 2px 11px 1px;
  border-radius: 12px;
  box-shadow: none;
  font-size:14px;
  transition:all .2s;
}

.block-btn:hover,
.block-btn:focus{
  box-shadow: inset 0 0 0 2px #ebebeb;
  color: inherit;
}

.block-btn.active{
  box-shadow: inset 0 0 0 2px #ffd333;
}

.carousel-owl{
  padding:10px 0px 10px 20px;
}

::ng-deep .owl-theme .owl-nav {
  position:absolute;
  right:0;
  top:-80px;
}

::ng-deep .owl-theme .owl-nav .owl-prev,
::ng-deep .owl-theme .owl-nav .owl-next{
  width:30px;
  transition: all .5s;
}

::ng-deep .owl-theme .owl-nav .owl-prev:hover,
::ng-deep .owl-theme .owl-nav .owl-next:hover{
  background-color:#ffd333;
  color:#3d464d;
}


::ng-deep .owl-theme .owl-dots{
  display:none;
}

.no-display{
  display:none;
}

.show-display{
  display:block;
}


.show-view{
  opacity: 1;
}

.no-view{
  opacity: 0.5;
}

.spinner{
  position:relative;
  top:40%;
  left:43%;
}

.loading-overlay{
  background-color: rgba(255,255,255,0.8);
  height:26rem;
  margin-top:0;
  position:absolute;
  width:100%;
  height:100%;
  z-index:10;
}
