.block-header{
  display:flex;
  align-items:center;
  justify-content: space-between;
  padding:10px 20px 10px 20px;
}

.divider{
  width:70%;
  margin-left:30px;
  margin-right:0px;
  border-bottom:2px solid #f0f0f0;
}

.block-title{
  font-weight:700;
  font-size:20px;
  color: #3d464d;
}

.slide{
  padding:1px;
}
