<div class="container">
  <div class="row">
    <div class="col-4" *ngFor="let offer of offers;">
      <div class="block-header">
        <div class="title">
          <h3 class="block-title">{{ offer.title }}</h3>
        </div>
        <div class="divider {{ offer.divider }}"></div>
      </div>
      <div class="block-body">
        <div class="row">
          <div class="col-12" *ngFor="let product of offer.products">
            <app-offer [offers]="product"></app-offer>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
