.card-link::before{
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px #ededed;
  transition: box-shadow .2s;
}

.card-link{
  color:#000;
}

.card-link:hover > .card{
  border-color:#ffd333;
}

.card-link:hover .eye-btn{
  background-color:#ffd333;
}

.card-body{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.card:hover:before {
  transition-duration: 0s;
  box-shadow: inset 0 0 0 2px rgba(255,211,51,.7);
}

.card:hover{
  position: relative;
    z-index: 3;
    margin-bottom: -56px;
}

.card-title{
  color:#3d464d;
  transition: all .15s;
  font-size:14px;
}

.card-title:hover{
  color: #1a66ff;
  text-decoration:none;
}

.rating{
  color:#b3b3b3;
  font-size:12px;
}

.price{
  font-weight:700;
  font-size:14px;
}

.no-display{
  display:none;
}

.show-display{
  display:block;
}

.eye-btn{
  z-index: 2;
    position: absolute;
    border: none;
    font-size: 14px;
    text-transform: uppercase;
    fill: currentColor;
    padding: 7px;
    cursor: pointer;
    top: 0;
    background: transparent;
    color: #ccc;
    transition: background-color .2s,color .2s;
    right:0;
    border-radius:3px;
}

.eye-btn:hover{
  background-color:#ffd333;
  color:#3d464d;
}

.btn-warning{
  background-color:#ffd333;
}

.cart-options{
  display:none;
  transition: all .5s;
}

.card-link:hover .cart-options{
  display:flex;
  align-items:center;
  justify-content: space-between;
}

.btns{
  margin-left:30px;
}

.btns .btn{
  color:#b0c4de;
  transition: all .5s;
}

.btns .btn:focus,
.btns .btn:hover{
  background-color:#f3f3f3;
}

.add-to-cart-btn{
  color:#3d464d;
  text-transform: capitalize;
  font-size:13px;
  font-weight:600;
}

.additional-info{
  display:flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: space-between;
}

.write-review{
  color:#b3b3b3;
  transition: all .5s;
}

.write-review:hover{
  text-decoration:none;
  color:#ffd333;
}

.large{
  font-size:22px;
}

.info,
.quantity{
  display:flex;
  align-items:center;
  justify-content: space-between;
  width:80%;
}

.tags-div{
  display:flex;
  align-items:center;
  justify-content: space-between;
  width:100%;
  margin-top:22px;
}

.info p:not(:last-child){
  margin-right:10px;
}

.availability,
.brand,
.sku{
  color:#b3b3b3;
  font-size:13px;
}

.subtitle{
  font-size:18px;
  text-transform: uppercase;
  color:#3d464d;
  font-weight:300;
}


input[type=radio]{
  height:20px;
  width:20px;
  margin-right:10px;
  display:block;
  margin:0 auto;
}

.divider{
  border-bottom:1px solid #b3b3b3;
  width:100%;
}

label{
  margin-right:20px;
  text-align:center;
}

.btn-grey{
  background-color:#f0f0f0;
  color:#3d464d;
}

.green{
  color:green;
}

.red{
  color: red;
}

.badge:not(:last-child){
  margin-right:8px;
}

.tags .badge{
  border-radius:0;
  padding:5px 8px;
}

.tags .badge:hover{
  background-color:#ffd333;
}

.modal-header{
  border-bottom:none;
}

.close{
  border:none;
}

.close:focus,
.close:active{
  border:none;
  box-shadow: none;
  outline:none;
  font-weight:300;
}

.title{
  color: #3d464d;
  font-weight:700;
  width:70%;
  font-size:36px;
  margin-bottom:22px;
}

.slide img{
  height:500px;
  width:auto;
}

.gal-car-nav{
  display:flex;
  align-items:center;
  justify-content: space-around;
}

.gal-car-nav img{
  width:80px;
  height:80px;
  border:1px solid #b3b3b3;
  padding:10px;
  transition:all .5s;
}

.gal-car-nav img:hover{
  transform:scale(1.1)
}

.social .badge{
  border-radius:0;
  padding:5px 8px;
}
