<div class="top-nav">
  <div class="container">
    <div class="left">
      <ul class="list-inline">
        <li class="list-inline-item">
          <a href="/">About Us</a>
        </li>
        <li class="list-inline-item">
          <a href="/">GetInTouch</a>
        </li>
        <li class="list-inline-item">
          <a href="/">Track Order</a>
        </li>
        <li class="list-inline-item">
          <a href="/">Blog</a>
        </li>
      </ul>
    </div>
    <div class="right">
      <ul class="list-inline">
        <li class="list-inline-item">
          <a href="/">Login/Register</a>
        </li>
      </ul>
    </div>
  </div>
</div>
